<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Spotify Stats</title>
</head>
<body>
    <div class="container">

        <h1>Spotify Stats</h1>
    
        <div class="stats-section">
            <div class="card">
                <h3>Artistes</h3>
                <p>{{ artistes|length }}</p>
            </div>
            <div class="card">
                <h3>Albums</h3>
                <p>{{ albums|length }}</p>
            </div>
            <div class="card">
                <h3>Pistes</h3>
                <p>{{ tracks|length }}</p>
            </div>
            <div class="card">
                <h3>Genres</h3>
                <p>{{ genres|length }}</p>
            </div>
        </div>
    
        <h2>Tous les titres</h2>
        

        <div class="recent-tracks">
            <ul>
                {% for track in tracks %}
                <li>
                    <img src="{{ track['photo'] }}" alt="Cover Album">
                    <div>
                        <h4>{{ track['name'] }}</h4>
                        <p>Durée : {{ track['duration_ms'] / 60000|round(2) }} minutes</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
