<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Stats</title>
</head>
<body>
    <h1>Spotify Stats</h1>
    <h2>Total Tracks Played: {{ total_tracks }}</h2>
    <h2>Total Minutes Played: {{ total_minutes }}</h2>

    <h3>Top 10 Artists</h3>
    <ul>
        {% for artist, count in top_artists %}
        <li>{{ artist }} - {{ count }} tracks</li>
        {% endfor %}
    </ul>

    <h3>Top 10 Genres</h3>
    <ul>
        {% for genre, count in top_genres %}
        <li>{{ genre }} - {{ count }} times</li>
        {% endfor %}
    </ul>

    <h3>Recently Played Tracks</h3>
    <ul>
        {% for track in track_details %}
        <li>
            <img src="{{ track.image_url }}" alt="Album cover" style="width:50px;height:50px;">
            {{ track.name }} by {{ track.artist }} from the album {{ track.album }}
            (Played at: {{ track.played_at }})
        </li>
        {% endfor %}
    </ul>
</body>
</html>
